<section fxLayout="column" fxLayoutGap="20px" class="salary-discount-container">
    <app-salary-discount-form (onCreateForm)="onCreateForm($event)"></app-salary-discount-form>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button
            type="submit"
            color="primary"
            mat-raised-button
            (click)="search()"
        >
            {{ 'CALCULATE' | translate }}
        </button>
    </div>

    <div *ngIf="salary" fxLayout="column" fxLayoutAlign="center center" class="result-section">
        <div>
            <h2>{{ 'TITLE' | translate }}</h2>

            <p>{{ 'BASE_SALARY' | translate }}: {{ dataForm.salary }}</p>
            <p>{{ 'DEPENDENTS' | translate }}: {{ dataForm.dependentCount }}</p>
            <p>{{ 'DISCOUNT' | translate }}: {{ dataForm.discount }}</p>
            <p>{{ 'VALUE_PER_DEPENDENT' | translate }}: R$ {{ salary.valorPorDependente }}</p>
            <p>{{ 'INSS_CONTRIBUTION' | translate }}: R$ {{ salary.contribuicaoINSS }}</p>
            <p>{{ 'IRRF_DISCOUNT' | translate }}: R$ {{ salary.descontoIRRF }}</p>
            <h3>{{ 'NET_SALARY' | translate }}: R$ {{ salary.salarioLiquido }}</h3>
        </div>
    </div>
</section>
