<div>
    <app-salary-discount-form
        (onCreateForm)="onCreateForm($event)">
    </app-salary-discount-form>

    <div class="col-md-12">
        <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="search()"
        >
            Enviar
        </button>
    </div>

    <div *ngIf="salary" class="row">
        <div class="col-md-12">
            <h2>Resultado</h2>
            <p>Salário líquido: {{ salary.netSalary }}</p>
        </div>
    </div>
</div>
