<section fxLayout="column" fxLayoutGap="20px" class="salary-discount-container">
    <app-salary-discount-form (onCreateForm)="onCreateForm($event)"></app-salary-discount-form>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" (click)="search()">
            {{ calculate }}
        </button>
    </div>

    <div *ngIf="salary" fxLayout="column" fxLayoutAlign="center center" class="result-section">
        <div>
            <h2>Calculadora</h2>

            <p>Salário base (R$): {{ dataForm.salary }}</p>
            <p>Número de dependentes: {{ dataForm.dependentCount }}</p>
            <p>Desconto em porcentagem (%): {{ dataForm.discount }}</p>
            <p>Valor por Dependente: R$ {{ salary.valorPorDependente }}</p>
            <p>Contribuição INSS: R$ {{ salary.contribuicaoINSS }}</p>
            <p>Desconto de IRRF (27.5%): R$ {{ salary.descontoIRRF }}</p>
            <h3>Salário Líquido: R$ {{ salary.salarioLiquido }}</h3>
        </div>
    </div>
</section>
