<div fxLayout="column" fxLayoutGap="1em" class="about-container">
    <h3>Como utilizar a calculadora de salário bruto</h3>
    <ol>
        <li>Adicione o valor líquido do seu salário (valor com os descontos) no primeiro campo da calculadora de salário bruto.</li>
        <li>Em seguida, adicione a soma dos descontos (VR, Plano de saúde, etc).</li>
        <li>Por fim, adicione o número de dependentes e clique em “Calcular”.</li>
    </ol>

    <h3>O que é salário bruto?</h3>
    <p>O salário bruto é o valor total que um trabalhador recebe antes de todos os descontos previstos, como impostos e contribuições previdenciárias. Ele representa a remuneração total pelo trabalho realizado, conforme consta no contrato ou proposta de trabalho.</p>
    <p>Também chamado de salário-base, ele é o valor acordado entre a empresa e o colaborador, podendo incluir outros benefícios como vale-alimentação, vale-transporte, plano de saúde, ajuda de custo, etc.</p>

    <h3>Quais os principais descontos do salário bruto?</h3>
    <p>Existem alguns descontos que fazem com que o salário bruto não seja o valor que o trabalhador recebe de fato todo mês. Esses descontos incluem encargos sociais e impostos obrigatórios, que devem ser pagos pelo trabalhador e/ou pelo empregador.</p>
    <p>Entre os descontos mais comuns estão:</p>
    <ul>
        <li>INSS</li>
        <li>Imposto de Renda (IR)</li>
        <li>Vale-transporte</li>
        <li>Demais benefícios, como plano de saúde, seguro de vida, vale-refeição, entre outros oferecidos pela empresa</li>
    </ul>
    <p>A seguir, saiba mais detalhes sobre os dois principais impostos descontados do seu salário bruto: INSS e Imposto de Renda.</p>

    <h3>INSS</h3>
    <p>INSS é a sigla para Instituto Nacional do Seguro Social, uma contribuição obrigatória que deve ser paga pelo trabalhador com carteira assinada. Essa contribuição garante ao trabalhador benefícios como aposentadoria, seguro-desemprego, auxílio-doença, entre outros.</p>
    <p>O desconto varia de 7,5% a 14%, de acordo com a faixa de remuneração do trabalhador. Para saber o cálculo exato da sua contribuição, é possível utilizar uma calculadora de contribuição do INSS.</p>
    <p><strong>SAIBA MAIS:</strong> Tabela INSS: descontos e valores atualizados</p>

    <h3>Imposto de Renda</h3>
    <p>O Imposto de Renda é um tributo federal que incide sobre a renda de alguns trabalhadores. Assim como o INSS, o valor a ser pago varia de acordo com a faixa salarial em que o trabalhador se encontra, podendo ser entre 0% e 27,5%.</p>
    <p><strong>SAIBA MAIS:</strong> Tabela IRRF + Anos anteriores: alíquotas e cálculo</p>

    <h3>Qual a diferença entre salário bruto e salário líquido?</h3>
    <p>Diferente do salário bruto, que é o valor total sem os descontos, o salário líquido é o valor que o trabalhador recebe na folha de pagamento, após todos os descontos propostos pelo empregador.</p>
    <p>Por exemplo, suponha que um funcionário recebe R$ 2000 de salário bruto. No mês, ele tem os seguintes descontos:</p>
    <ul>
        <li>INSS: R$ 161,82 (de acordo com a faixa salarial na tabela)</li>
        <li>Imposto de Renda: 0% (de acordo com a faixa salarial na tabela)</li>
        <li>Outros descontos: R$ 100 (plano de saúde, vale-transporte, etc.)</li>
    </ul>
    <p>No total, a somatória dos descontos é de R$ 261,82. Então, no dia da remuneração, a pessoa deve receber o seguinte valor:</p>
    <p>R$ 2000 (salário bruto) – R$ 261,82 (descontos) = R$ 1.738,18 (salário líquido).</p>
    <p><strong>VEJA TAMBÉM:</strong> Calculadora de horas extras | Calculadora de Custo de Funcionário</p>
</div>
