<div fxLayout="column" fxLayoutGap="1em" class="about-container">
    <h3>{{ 'ABOUT.HOW_TO_USE' | translate }}</h3>
    <ol>
        <li>{{ 'ABOUT.STEP_1' | translate }}</li>
        <li>{{ 'ABOUT.STEP_2' | translate }}</li>
        <li>{{ 'ABOUT.STEP_3' | translate }}</li>
    </ol>

    <h3>{{ 'ABOUT.WHAT_IS_GROSS_SALARY' | translate }}</h3>
    <p>{{ 'ABOUT.GROSS_SALARY_EXPLANATION_1' | translate }}</p>
    <p>{{ 'ABOUT.GROSS_SALARY_EXPLANATION_2' | translate }}</p>

    <h3>{{ 'ABOUT.MAIN_DISCOUNTS' | translate }}</h3>
    <p>{{ 'ABOUT.MAIN_DISCOUNTS_EXPLANATION_1' | translate }}</p>
    <p>{{ 'ABOUT.COMMON_DISCOUNTS' | translate }}</p>
    <ul>
        <li>{{ 'ABOUT.INSS' | translate }}</li>
        <li>{{ 'ABOUT.INCOME_TAX' | translate }}</li>
        <li>{{ 'ABOUT.TRANSPORT_VOUCHER' | translate }}</li>
        <li>{{ 'ABOUT.OTHER_BENEFITS' | translate }}</li>
    </ul>
    <p>{{ 'ABOUT.DETAILED_DISCOUNTS' | translate }}</p>

    <h3>{{ 'ABOUT.INSS_TITLE' | translate }}</h3>
    <p>{{ 'ABOUT.INSS_EXPLANATION_1' | translate }}</p>
    <p>{{ 'ABOUT.INSS_EXPLANATION_2' | translate }}</p>
    <p><strong>{{ 'ABOUT.INSS_MORE_INFO' | translate }}</strong></p>

    <h3>{{ 'ABOUT.INCOME_TAX_TITLE' | translate }}</h3>
    <p>{{ 'ABOUT.INCOME_TAX_EXPLANATION_1' | translate }}</p>
    <p><strong>{{ 'ABOUT.INCOME_TAX_MORE_INFO' | translate }}</strong></p>

    <h3>{{ 'ABOUT.DIFFERENCE_BETWEEN_SALARIES' | translate }}</h3>
    <p>{{ 'ABOUT.DIFFERENCE_EXPLANATION_1' | translate }}</p>
    <p>{{ 'ABOUT.EXAMPLE' | translate }}</p>
    <ul>
        <li>{{ 'ABOUT.INSS_EXAMPLE' | translate }}</li>
        <li>{{ 'ABOUT.INCOME_TAX_EXAMPLE' | translate }}</li>
        <li>{{ 'ABOUT.OTHER_DISCOUNTS_EXAMPLE' | translate }}</li>
    </ul>
    <p>{{ 'ABOUT.TOTAL_DISCOUNTS' | translate }}</p>
    <p>{{ 'ABOUT.FINAL_SALARY' | translate }}</p>
    <p><strong>{{ 'ABOUT.SEE_ALSO' | translate }}</strong></p>
</div>
