<form [formGroup]="form" fxLayout="column" fxLayoutGap="20px" class="form-container">
    <div *ngIf="form" fxLayout="row" fxLayoutGap="20px" fxFlex="100" fxLayoutWrap>

        <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Salário base (R$)</mat-label>
                <input matInput type="number" formControlName="salary">
            </mat-form-field>

            <app-shared-component-form-message
                [field]="form.get('salary')">
            </app-shared-component-form-message>
        </div>

        <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Número de dependentes</mat-label>
                <input matInput type="number" formControlName="dependentCount">
            </mat-form-field>

            <app-shared-component-form-message
                [field]="form.get('dependentCount')">
            </app-shared-component-form-message>
        </div>

        <div fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Desconto em porcentagem (%)</mat-label>
                <input matInput type="number" formControlName="discount">
            </mat-form-field>

            <app-shared-component-form-message
                [field]="form.get('discount')">
            </app-shared-component-form-message>
        </div>

    </div>
</form>
